.App {
  text-align: center;
}
.table {
  display:block; 
}
.row { 
  display:block;
}
.cell {
  display:inline-block;
  margin: 30px;
}
.img{
  width: 80px;
  height: 40px;
}
.img1{
  float: right;
  width: 50%;
  height: 300px;
}
.img2{
  float: right;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.q1{
      background-image: url("./images/theSpender.jpg");
      /* background-color: #e6c1a6; */
      float:left;
      margin: 20px;
      padding: 5px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      width: 200px;
      font-size: 20px;
      position: relative;
}

.q2{
  background-image: url("./images/theSpender.jpg");
  /* background-color: #e6c1a6; */
  float:left;
  margin: 50px;
  margin-left: 25%;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  width: 50%;
  font-size: 20px;
  position: relative;
}
nav{
  background-color: #fff;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}
@media only screen and (max-width: 700px) {
  nav{
    padding-bottom: 200px;
    text-align: center;
    width: 100%;
  }

  .left{
    float: left;
    padding-right: 20px;
    padding-top: 6px;
    width: 100%;
  }
  .right{
    float: left;
    padding-right: 20px;
    padding-top: 6px;
    width: 100%;
  }
}
.footer{
  float: left;
  background-color: #fff;
  text-align: center;
  width: 100%;
  height: 25px;
  position: fixed; 
  bottom:0;

}
.right{
  float: right;
  padding-right: 20px;
  padding-top: 6px;
  text-align: center;
}
.left{
  padding-left: 20px;
  text-align: center;
}

.contact{
  margin: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
